{
  "extends": "airbnb-base",
  "rules": {
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "require-yield": 0,
    "import/no-dynamic-require": 0,
    "func-names": 0,
    "no-underscore-dangle": 0,
    "arrow-parens": ["error", "as-needed"],
    "function-paren-newline": ["error", "consistent"]
  }
}